@charset "UTF-8";

:root {
    --cor1:#E0786E;
    --cor2:#BF3E32;
    --cor3:#4887E0;
    --cor4:#445A87;
    --cor5:#D5E060;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor3);
    font-family: var(--font-padrao);
}

header {
    background-image: linear-gradient(to top, var(--cor2), var(--cor1));
    min-height: 150px;
    text-align: center;
}
header > img {
    max-width: 300px;
}

header > p {
    color: black;
    font-family: var(--font-padrao);
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.183);
}

nav {
    background-color: var(--cor4);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.333);
}

nav > a {
    text-decoration: none;
    color: var(--cor5);
    font-family: var(--font-padrao);
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 5px;
    transition-duration: 0.3s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: black;
}

main {
    background-color: white;
    min-width: 350px;
    max-width: 1000px;
    margin: auto;
}

main p {
    font-size: 1.1em;
    line-height: 1.2em;
    text-align: justify;
    text-indent: 30px;
    margin: 15px 15px;
}

h1 {
    text-align: center;
    padding: 10px;
    font-size: 2.1em;
    margin: auto;
    text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.450); 
}

footer {
    background-color: var(--cor4);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
    color: white;
    padding: 2px;
    border-radius: 5px;
    font-weight: bold;
}

.dots {
    display: flex;
    width: 500px;
    margin: auto;
}

.dots div {
    width: 10px;
    height: 10px;
    background-color: var(--cor2);
    border-radius: 50%;
    margin-left: 15px;
    animation: move 1s ease-in-out infinite alternate;
}

.dots div:nth-child(1) {
    animation-delay:  -0.4s;
}
.dots div:nth-child(2) {
    animation-delay:  -0.2s;
}

@keyframes move {
    from {
        transform: translateY(210%);
    }
    to {
        transform: translateY(300%);
    }
}